<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"></a>

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link "  *ngIf="!isAdmin" routerLink="/" routerLinkActive="active">Trang chủ</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link " routerLink="admin/quan-ly-bai-dang" routerLinkActive="active">Quản lý bài đăng</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link " routerLink="admin/quan-ly-tai-khoan" routerLinkActive="active">Quản lý tài khoản</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dang-tin" routerLinkActive="active">Đăng tin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/tin-tuc" routerLinkActive="active">Tin tức</a>
      </li>
    </ul>
    <div class="dropdown" *ngIf="currentUser$ ">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Welcome {{userName}}
      </button>
      <ul class="dropdown-menu">
        <li *ngIf="!isAdmin"><a class="dropdown-item" (click)="trangCaNhan()">Cá nhân</a></li>
        <li *ngIf="!isAdmin"><a class="dropdown-item" (click)="baiDang()">Bài đăng</a></li>
        <li><a class="dropdown-item" (click)="logout()">Đăng xuất</a></li>
      </ul>
    </div>

    <form *ngIf="!(currentUser$ )" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off" class="d-flex">
      <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="UserName">
      <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
        placeholder="PassWord">
      <button class="btn btn-outline-success" type="submit">Đăng nhập</button>
      <button style="margin-left: 5px;" class="btn btn-outline-success">
        <a class="nav-link " routerLink="/register" routerLinkActive="active">Đăng kí</a>
      </button>
    </form>
  </div>
</nav>
