.block{
 margin-top: 10px;
}
.container{
  background-color: white;
}
.columns{
  display: flex;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
