<div style="margin-top: 60px;" class="container" >
  <swiper-container navigation="true" pagination="true" loop="true" speed="50" css-mode="true">
    <swiper-slide>
      <img src="/assets/banner2.png" width="100%" height="150px" alt="">
    </swiper-slide>
    <swiper-slide>
      <img src="/assets/banner1.png" width="100%" height="150px" alt="">
    </swiper-slide>
    <swiper-slide>
      <img src="/assets/banner3.png" width="100%" height="150px" alt="">
    </swiper-slide>
  </swiper-container>
</div>
