<div class="container block">
  <div class="row">
    <h5>
      Thông tin chi tiết:
    </h5>
    <div class="col-8">
      <div>
        <div class="image">
          <img src="https://localhost:7202{{motel.images}}" alt="phong" width="100px" height="80px">
        </div>
        <div class="title">

        </div>
        <div class="detail">

        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="profile">

      </div>
      <div class="chat">

      </div>
    </div>
  </div>
</div>
