div.container {}

.home {
  display: flex;
  flex-direction: column;
}

.block {
  margin-top: 10px;
}

.container {
  background-color: white;
}

.body {
  font-size: 14px;
}

.deposit {
  font-weight: 700;
  color: #d0021b
}

.acreage {
  color: #9b9b9b;
  display: block;
  font-size: 14px;
  line-height: 1.43;
  margin-top: 2px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #222;
  display: -webkit-box;
  font-size: 14px !important;
  height: 40px !important;
  line-height: 20px !important;
  margin-top: 8px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: unset;
}
.content{
  display: flex;
}
a{
  text-decoration: none
}
.box {
  transition: box-shadow .3s;
  background: #fff;
  text-align: center;
}
.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
